body{
    font-family: 'Akaya Telivigala', cursive;
    background-color: blue;
}

.header_div{
    background: orange;
    color: white; 
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    background-color: red;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copyright_footer{
    text-align: center;
    background: linear-gradient(aqua 0%, aquamarine 50%,#e5ff00 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    color: BLACK;
    text-shadow: 5px 5px 5px BLACK;
}